.div1 {
  background: red;
  float: right;
  padding: 15px;
}

.div2 {
  background: yellow;
  float: right;
  padding: 15px;
}

.div3 {
  background: green;
  padding: 15px;
  float: left;
}

p {
  clear: both;
}
